# Set this to true if you want puppeteer not to download
# on install.  But in my experience this just causes other
# issues so just deal with the inconvenience.
# github.com/puppeteer/puppeteer/issues/903
puppeteer_skip_chromium_download=false